* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(149, 72, 36);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #b96331;
}

main { 
  flex: 1; 
} 

.cabecalho-link { 
  color: #7a3d14; 
  text-decoration: none;
} 

h1 { 
  color: #b37031; 
  font-size: 24px;
} 

footer{
    background-color: #b8773b;
    padding: 15px 25px;
    color: #a14b31;
}

.cartao-interno{
  position: relative;
 transition: transform 0.8s;
}

.cartao-hover .cartao-interno{
  transform: rotateY(180deg);
}
.cartao-frente, .cartao-verso{
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 10);
  backface-visibility: hidden;
}

.cartao-verso{
  transform: rotateY(180deg);
}